@import "tailwindcss";

:root {
  font-family: "DM Sans", sans-serif;
  font-synthesis: none;
  background-color: #18181b;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

@layer components {
  dialog::backdrop {
    @apply fixed top-0 left-0 h-screen w-screen bg-black/50;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #11141d inset !important;
  box-shadow: 0 0 0px 1000px #11141d inset !important;
  -webkit-text-fill-color: #fff !important;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-empty .ant-empty-image {
  opacity: 70%;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-empty .ant-empty-description {
  color: whitesmoke !important;
  opacity: 70%;
  font-weight: 600;
  font-size: 18px;
}
