@import "tailwindcss";

:root {
  font-family: "DM Sans", sans-serif;
  font-synthesis: none;
  background-color: #18181b;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #11141d inset !important;
  box-shadow: 0 0 0px 1000px #11141d inset !important;
  -webkit-text-fill-color: #fff !important;
}

:where(.css-dev-only-do-not-override-7t2xvq).ant-empty .ant-empty-description {
  color: white !important;
  font-weight: 600;
  font-size: 18px;
}
